<section data-markdown>
## Who is this guy anyway?

 * Founded the [Psychedelic Society of San Francisco](http://PsychedelicSF.org)
   [@PsychedelicSF](http://twitter.com/PsychedelicSF) to encourage honest open education about
   entheogens

 * Started a "Students for Sensible Drug Policy" ([@SSDP](http://twitter.com/ssdp)) chapter in college,
   served as a state director

 * Engaged in lobbying at the state and national level

 * Worked with Drug Policy Alliance, NORML, SAFER
</section>

<section data-markdown>
  * Been coding since grammar school

  * Former black-hat (and got suspended from middle and high school for it)

  * Learned I really like building things more than breaking them down

  * Started my first company out of High School, [iWebPress](http://iwebpress.com)
</section>

<section>
  <p>Presently, I <a href="http://hackthefuture.org">Hack the Future</a> (<a href="http://twitter.com/KidsHtF">@KidsHtF</a>)</p>
  <img height="500" src="http://amoe.ba/blog/wp-content/uploads/2013/01/htf6_19.jpg">
</section>

<section>
  <p>... and I also started a company called <a href="http://amoe.ba">Amoeba</a></p>
  <img height="500" src="http://amoe.ba/images/mascot.svg">
  <p><a href="http://twitter.com/amoebasoft">@AmoebaSoft</a></p>
</section>

