<section data-markdown>
  ## Why we fight
  * Drug war is a war on youth
  * Over 50% of marijuana arrests in this country are people under 29 years old
  * HEA takes away financial aid for students with drug convictions in college
  * Office of national drug control policy spent more than $1.5 billion on its media campaign since 1998

  <aside class="notes">
    Two main national battles SSDP has taken on: HEA reform and ONDCP media budget
    HEA doesn’t ask anything about other criminal convictions
    ONDCP has these ads, you’ve probably all seen them.
    Young people know they’re a joke
    But more than just being a waste of money and a subject of laughter they’re harmful:
    These ads backfire because they don’t resonate with young people
    The gov’t conducted a study in 2006 to track the effectiveness: found not only do they not reduce drug use, but actually increase it in certain “at risk” groups
  </aside>
</section>

<section>
  <iframe width="840" height="630" src="http://www.youtube.com/embed/tI4QxqtV-nI" frameborder="0" allowfullscreen></iframe>
</section>

<section data-markdown>
  ## Empowerment
  * Seeing injustices every day, in drug policy or tech, be it Aaron, or Weev, or the kid we've
  never heard of, pisses me off and empowers me to seek change.
  * When I was younger and living on the east coast, my first taste of activism was around DeCSS
  * Ilya, founder of [Diaspora*](http://diasporaproject.org/) died last year because of the weight
  of his quest... to slay the dragons.
</section>

<section>
  <%= image_tag "hacktivism/ilya.jpeg", width: 800  %>
  <aside class="notes">
    Met Ilya when I moved to SF.
    First question: What are you passionate about?
    He, much like Aaron, much like many of us in this room, want to change the world.
    Ilya wanted to slay the "dragons" - behemoths.
    May his memory live on in each of us, as we shall pick up the sword and slay the dragons in their honor.
  </aside>
</section>
