<section data-markdown>
  ## Drugs? Tech? What's the point?
  * The government is ill-equipped and slow to legislate on social justice issues
  * Whether we're talking about drugs, the DMCA, or the idea of [legislating 3d printers](http://techcrunch.com/2013/01/18/like-it-or-not-i-think-3d-printing-is-about-to-get-legislated/)
  * The government cannot stop the distribution of material it makes illegal through legislation, and
  making up new crimes only creates new criminals
</section>
<section data-markdown>
  ## Why we fight: SSDP
  * Drug war is a war on youth
  * Over 50% of marijuana arrests in this country are people under 29 years old
  * HEA takes away financial aid for students with drug convictions in college
  * Office of national drug control policy spent more than $1.5 billion on its media campaign since 1998
  * Those ads aren't just a waste of money: in 2006 a government study showed the ads weren't just
  ineffective but actually increased drug use in some populations. Response? Bury the research

  <aside class="notes">
    Two main national battles SSDP has taken on: HEA reform and ONDCP media budget
    HEA doesn’t ask anything about other criminal convictions
    ONDCP has these ads, you’ve probably all seen them.
    Young people know they’re a joke
    But more than just being a waste of money and a subject of laughter they’re harmful:
    These ads backfire because they don’t resonate with young people
    The gov’t conducted a study in 2006 to track the effectiveness: found not only do they not
    reduce drug use, but actually increase it in certain “at risk” groups
  </aside>
</section>

<section>
  <iframe width="840" height="630" src="http://www.youtube.com/embed/tI4QxqtV-nI" frameborder="0" allowfullscreen></iframe>
</section>

<section data-markdown>
  ## Empowerment
  * Seeing injustices every day, in drug policy or tech, be it Aaron, or
  [Weev](http://techcrunch.com/2013/01/21/ipad-hack-statement-of-responsibility/), or the kid we've
  never heard of, pisses me off and empowers me to seek change
  * When I was younger and living on the east coast, my first taste of activism was around
  [DeCSS](http://en.wikipedia.org/wiki/DeCSS). Jon was lucky he was a minor at the time
  * Ilya, founder of [Diaspora*](http://diasporaproject.org/) died last year because of the weight
  of his quest... to slay the dragons
</section>

<section>
  <%= image_tag "hacktivism/ilya.jpeg", width: 800  %>
</section>

<section data-markdown>
  # Ilya Zhitomirskiy
  * I met Ilya when I first moved to SF and he happened to live in my apt building
  * His first question: "What are you passionate about?"
  * He, much like Aaron, much like many of us in this room, want to change the world
  * For Ilya, that meant slaying the "dragons," the political parties, the banks...
  * Many their memory live on in each of us, as we shall pick up the sword and slay the dragons in
  their honor
</section>
