<section data-markdown>
  ## About SSDP

  * Largest grass-roots organization working to find alternatives to the failed “War on Drugs”

  * We empower young people to come up with alternatives to punitive drug war policies

  * Focus on policies that affect students
</section>

<section data-markdown>
  ## US SSDP Chapters
  <%= image_tag "hacktivism/ssdp_chapters.png", :width=>"803", :height => "432" %>
</section>

<section data-markdown>
  ## International Chapters
  * Canada
  * Mexico
  * Columbia
  * United Kingdom
  * Poland
  * Nigeria
</section>
