<section data-markdown>
  ## Timeline of a Movement
  * We all make the mistake of measuring movements in the brevity of our own lives. Movements don't
  work that way
  * Consider racial justice. When did that movement begin? The day the first slave was brought to
  America.
  * Took more than 150 years before there was an actual abolitionist movement in the mid-19th C

  <aside class="notes">
    We all make the mistake of measuring movements in the brevity of our own lives
    MOVEMENTS DON’T WORK THAT WAY.
    SOCIAL JUSTICE DOESN’T WORK THAT WAY.
    Consider racial justice
    You know when it began? The first day the first slave was brought to America.
    It took more than 150 years before there was an actual abolitionist movement in the middle of the 19th C
  </aside>
</section>

<section data-markdown>
  * “The ark of the moral universe is long, but it bends toward justice, ” said Theodore Parker in 1853
  * ... and he went on, "my eyes are not good enough to see the end of that arc, but I know that
  it’s there"
  * Four years later, Dred Scott went to Supreme Court
  * In 1857 the only Supreme Court ruling on slavery - upholds it brutally
  * Chief Justice Tawny actually said blacks were insubordinate and inferior beings ... and would never have the rights that the white man was bound to respect

  <aside class="notes">
    White Unitarian minister named Theodore Parker in 1853 gave a sermon in which he talked about ending slavery, and he said “The ark of the moral universe is long, but it bends toward justice.”
    and then he also said “my eyes are not good enough to see the end of that arc, but I know that it’s there”
    Four years later, Dred Scott challenged the constitutionality of slavery, and
    the only case where the US supreme court ruled on slavery, it upheld it.
    Chief Justice Roger Tawny said blacks were insubordinate and inferior beings and had no rights and would never havethe rights that the white man was bound to respect. This is the supreme court in 1857.
  </aside>
</section>

<section data-markdown>
  * Almost four years later the civil war broke out
  * In 1865 the 13th amendment was passed, ending slavery
  * Within 4-5 years “black codes” are passed
  * Jim Crow laws institutionalized
  * 100 more years of racial subjugations
  * And for another 100 years it was the worst system since slavery, and resulted in many deaths in
  a struggle that didn't seem possible to win

  <aside class="notes">
    And four years later, the civil war broke out
    In 1865 the 13th amendment was passed, prohibiting and ending slavery in this country.
    And everybody thought that was a great victory.
    But within 4-5 years of that, the black codes was passed, the supreme court undercut the 14th amendment
    jim crow laws got institutionalized, and we had another 100 years of racial subjugations.
    Was it as bad as slavery no? But next to slavery it was the worst system of racial subjugation we could imagine.
    And it lasted for another100 years under our contemporary civil rights movement started in the 1960s. And that resulted in the deaths of many people in a struggle that didn’t seem possible to win.
  </aside>
</section>

<section data-markdown>
  * In 1964 the Civil Rights Act was passed
  * 1965 Voting Rights Act was passed
  * 1968 Fair Housing Act was passed
  * Knocked out Jim Crow?
  * Just as Jim Crow had been a successor to slavery, the new creative oppression became the “War on Drugs”
  * In 1968 only a couple hundred thousand people in prison for all offenses in the US
  * Today there are over 2.4 million in prison, and we're the jailingest country in the world with 25% of
  the world's prisoners and only 5% of the world's population.

  <aside class="notes">
    In 1964 the Civil Rights Act was passed
    1965 Voting Rights Act was passed
    1968 Fair Housing Act was passed
    And everyone thought “WE DID IT”
    We actually knocked out jim crow and substituted for it a legal infrastructure of civil rights enforcement.
    It wasn’t enforced.
    And then it turned out that just as jim crow had been a successor system to slavery, two years after that last trio of civil rights acts, richard nixon declared the war on drugs.
    But in 1968 there were only a couple 100 thousand people in prison in this country for all offenses.
    Then one day not too long ago there were 2.4 million. That was a successor system to racial subjugation. Just as Jim Crow had succeeded slavery, the drug war had succeeded Jim Crow
  </aside>
</section>

<section data-markdown>
  * That’s 300 years
  * Better in 1965 than 1865?
  * Sure. Better today? Of course
  * But, we aren’t finished yet
  * Movements are never over, they have victories and they have defeats and they go on longer than
  your lifetime
  * You never get to win, you just get to fight

  <aside class="notes">
    300 years, and we aint through yet.
    Was it better in 1965 then it was in 1865? Is it better now? Of course yes it’s better.
    Is it over? No.
    So movements are never over. They have no end points. They have victories and they have defeats. And they go on longer than your lifetime.
    You hack away at the jungle of oppression, ad the jungle comes in and takes back the road, you gotta hack and hack again. You not only have to keep fighting because the forces of oppression and relentlessly clever at finding new forms of oppression.
  </aside>
</section>