<section data-markdown>
  ## Who are these guys anyway?

  * Chris is a contributor to Rails, Errbit, and several popular Ruby gems. Formerly worked for a
  variety of startups in the midwest and San Francisco area. Built the entire mobile-web Backbone-
  based product for the Schools App to hundreds of thousands of college students.

  * Daniel loves building things and playing with new frameworks- and has significant web, scaling,
  and big-data experience. Has consulted for startups and Fortune 500s in the New York and
  San Francisco areas for over a decade.
</section>

<section>
  <p>Presently, Daniel sometimes <BR/><a href="http://hackthefuture.org">Hacks the Future</a>
    (<a href="http://twitter.com/KidsHtF">@KidsHtF</a>)</p>
  <img height="500" src="http://amoe.ba/blog/wp-content/uploads/2013/01/htf6_19.jpg">
</section>

<section>
  <p>... and we also work at <a href="http://amoe.ba">Amoeba</a></p>
  <img height="500" src="http://amoe.ba/images/mascot.svg">
  <p><a href="http://twitter.com/amoebasoft">@AmoebaSoft</a></p>
</section>