<section>

<h2>Using Rails with Javascript MVC frameworks like Backbone</h2>

<p>Transforming your Rails app to an API and integrating with front-end frameworks like Backbone using a single page application</p>

<HR/>

<p style="width: 50%; float: left;">
<strong>Chris Barton</strong><BR/>
<a href="http://twitter.com/huTweeted">@huTweeted</a><BR/><a href="mailto:cbarton@amoe.ba">cbarton@amoe.ba</a>
</p>

<p style="width: 50%; float: left;">
<strong>Daniel Jabbour</strong><BR/>
<a href="http://twitter.com/bitgangsta">@bitgangsta</a><BR/><a href="mailto:daniel@amoe.ba">daniel@amoe.ba</a>
</p>

</section>