---
title: Welcome to my presentations
---

<div class="welcome">
  <h1>Presentations</h1>
  <p class="doc">
    <%= link_to "Github Readme", "https://github.com/bitgangsta/presentations" %>
  </p><!-- .doc -->
</div><!-- .welcome -->