---
title: Welcome to my presentations
---

<div class="welcome">
  <h1>Presentations</h1>
  <p class="doc">
    <%= link_to "Perspectives on social justice and change", "hacktivism" %>
  </p><!-- .doc -->
</div><!-- .welcome -->